:root {
    font-size: 62.5%;
    text-decoration: none;
}

// fonts
$font-header: 'Rampart One', cursive;
$font-elements: 'Acme', sans-serif;

// colors
 $color-background: lightgray;
 $color-title: lightslategray;
 $color-list: #333 ;
 $color-btn: #fff ;



