.header {
    background-color: $color-background;

    &__title{
        font-family: $font-header;
        font-size: 4rem;
        text-align: center;
        padding: 1rem 0;
    }
    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 2rem;

        &-placeholder {
            border: .1 solid $color-list;
            border-radius: 0.5rem;
        }
        &-btn {
            color: $color-btn;
            background-color: $color-list;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
        }
    }
}
